@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .common-gradient {
    @apply bg-gradient-to-r from-[#F5AC84] to-[#D88F67] font-semibold text-white;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer components {
  .solution-list button {
    @apply p-0 border-0 block;
  }
  .solution-list-row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .solution-card-wrap {
    padding-left: 12px;
    padding-right: 12px;
  }
  .solution-list button svg {
    height: 30px;
    width: 30px;
    margin-left: 12px;
    margin-top: 20px;
  }
  .solution-list button svg path {
    stroke: #e39870;
  }
  .solution-list button:hover {
    text-decoration: none;
  }

  .solution-list .border-b {
    border: none;
  }
  .card-full button svg {
    display: none;
  }
}
